{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}

{% macro section(sectionTitle, rows, action) %}

    <div class="govuk-summary-sectionRows__row  govuk-!-margin-bottom-9">

      {% if sectionTitle %}
        <h2 class="govuk-heading-m">{{ sectionTitle }}</h2>
      {%  endif %}

      {% if rows | length %}
          {{ govukSummaryList({
            rows: rows,
            classes:"govuk-summary-list"
          }) }}

      {% else %}

        <p class="govuk-body">{{ messages("unloadingSummary.noSeals") }}</p>

      {% endif %}

      {% if action %}
        <p class="govuk-body">
            <a id="value" href="{{ action.href }}"> {{ action.text }} </a>
        </p>
      {%  endif %}

    </div>


{% endmacro %}
