{% from "govuk/components/summary-list/macro.njk"  import govukSummaryList %}

{% macro section(sectionTitle, rows, action) %}

  {% if rows | length %}

    <div class="govuk-summary-sectionRows__row  govuk-!-margin-bottom-9">

      {% if sectionTitle %}
        <h2 class="govuk-heading-m">{{ sectionTitle }}</h2>
      {%  endif %}

      {{ govukSummaryList({
        rows: rows,
        classes:"govuk-summary-list"
      }) }}

      {% if action %}
        <p class="govuk-body">
            <a id="value" href="{{ action.href }}"> {{ action.text }} </a>
        </p>
      {%  endif %}

    </div>

  {% endif %}
{% endmacro %}
