{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "macros/title.njk"                            import title %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}

{% block pageTitle %}
  {{ title(messages("unloadingRemarksRejection.title")) }}
{% endblock %}

{% block mainContent %}

{{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("unloadingRemarksRejection.heading") }}
        </h1>

        <p class="govuk-body">{{ messages("unloadingRemarksRejection.conflicting.information") }}</p>

   {% for error in errors %}

          <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                     {{ messages("unloadingRemarksRejection.errorCode") }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                      {{ error.errorType }}
                      </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                     {{ messages("unloadingRemarksRejection.pointer") }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                      {{ error.pointer }}
                      </dd>
                  </div>
              </dl>

        {% endfor %}

        <p class="govuk-body">{{ messages("unloadingRemarksRejection.you.can") }}</p>
            <ol class="govuk-list govuk-list--bullet">
           <li> <a class="govuk-link" href={{createArrivalUrl}} >{{ messages("unloadingRemarksRejection.create.unloadingRemarks") }}</a>
           <li> <a class="govuk-link" href={{contactUrl}} target="_blank">{{ messages("unloadingRemarksRejection.contact") }}</a> </li>
            </ol>
      </div>
    </div>
  </div>

{% endblock %}
